#frontPage {
  .content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }
  h1 {
    font-size: 1.5rem;
    max-width: 600px;
    line-height: 2rem;
    span {
      color: $green;
      font-weight: bold;
    }
  }
  p {
    font-size: 40px;
    line-height: unset;
  }

  #imgContainer {
    display: flex;
    position: relative;
    height: 100%;
    img {
      position: relative;
      height: 100%;
      width: auto;
      object-fit: contain;
      margin-left: auto;
    }
  }
}

@include mediaTablet {
  #frontPage {
    .content {
      flex-direction: column;
      justify-content: center;
    }
    #imgContainer {
      height: 200px;
      width: 200px;
      border-radius: 100px;
      overflow: hidden;
      background-color: $green;
      img {
        margin: 0;
        height: 250%;
        width: 100%;
        margin-left: 13px;
        margin-top: 10px;
      }
    }
    h1 {
      font-size: 1.3rem;
    }
  }
}

@include mediaPhone {
  #frontPage {
    h1 {
      font-size: 1rem;
    }
  }
}
