#me {
  display: flex;
  background-color: $green;
  color: white;
  padding: 100px 0 300px;
  .content {
    flex-direction: column;
  }
  h2,
  p {
    text-align: center;
  }
  h2 {
    margin-bottom: 3rem;
  }
  p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    max-width: 800px;
  }
}

@include mediaPhone {
  #me {
    h2 {
      font-size: 1.8rem;
    }
    p {
      font-size: 1rem;
    }
  }
}
