/***********************
	*Mixins
	*Includes
	*Text
	*Colors
	*Defaults
***********************/

//Mixins
//----------------------
@mixin google-font($family) {
  @import url('http://fonts.googleapis.com/css?family=#{$family}');
}

//Tablet media Query
@mixin mediaTablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

//Phone
@mixin mediaPhone {
  @media screen and (max-width: 640px) {
    @content;
  }
}

//Includes
//----------------------
@include google-font('Montserrat:400,600,700&display=swap');

//Text
//----------------------
$Montserrati: 'Montserrat', sans-serif;

$fw-regular: 400;
$fw-semi: 600;
$fw-bold: 700;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: $Montserrati;
}

h1 {
  font-size: 3rem;
  margin-bottom: 32px;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  margin-bottom: 24px;
  line-height: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

//Colors
//----------------------
$green: #00bf7c;

//Defaults
//----------------------
#wrapper {
  overflow: hidden;
  position: relative;
}

.content {
  position: relative;
  display: flex;
  padding: 50px;
  margin: 0 auto;
  &.contained {
    height: calc(100vh - 100px);
    max-width: 1200px;
  }
}

.button {
  padding: 10px 20px;
  border: thick solid $green;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 22px;
  &:hover {
    background-color: $green;
  }
}

@include mediaTablet {
  .content {
    padding: 50px 30px;
  }
}

@include mediaPhone {
  .content {
    padding: 50px 10px;
  }
}
