.burgerWrapper {
  z-index: 99;
  position: fixed;
  top: 25px;
  right: 25px;
}

//Burger Icon
.iconWrapper {
  width: 45px;
  min-height: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  span {
    display: block;
    width: 45px;
    height: 3px;

    position: absolute;
    border-radius: 1.5px;
    &:nth-child(1) {
      top: 0;
      left: 0;
    }
    &:nth-child(4) {
      bottom: 0;
      left: 0;
    }
  }
  .close {
    top: 50%;
  }

  //Animations propperties
  &.closed {
    .close {
      transition: all 0.5s;
    }
    .closeOne {
      transform: translateY(-50%);
    }
    .closeTwo {
      transform: translateY(-50%);
    }
    .hide {
      opacity: 1;
      transition: all 0.7s;
    }
    span {
      background-color: black;
    }
  }

  &.open {
    .close {
      transition: all 0.7s;
    }
    .closeOne {
      transform: rotate(45deg);
    }
    .closeTwo {
      transform: rotate(-45deg);
    }
    .hide {
      opacity: 0;
      transition: all 0.5s;
    }
    span {
      background-color: white;
    }
  }
}

//Burger nav
.mainNav {
  position: absolute;
  background-color: black;
  right: -275px;
  top: -25px;
  transition: right 0.5s;
  &.show {
    right: -25px;
    transition: right 0.5s;
  }
  ul {
    height: 500px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    li {
      padding-left: 50px;
      font-size: 24px;
      margin-bottom: 16px;
      color: white;
    }
  }
}
